<div class="wrapper">
    <form class="form-signin" name="loginForm" novalidate>
	<div>
       <div class="mainlogo"></div>
		<div>
            <div>
                <label class="label" for="name">Username</label>
            </div>
            <input type="email" class="form-control" name="email" ng-model="userName" autocomplete="off" placeholder="Email address" required autofocus/>
            <span style="color:red" ng-show="isNameEmpty">
                <span ng-show="loginForm.email.$error.required">Email is required.</span>
            <span ng-show="loginForm.email.$error.email">Invalid email address..</span>
            </span>
        </div>
        <div>
            <div>
                <label class="label" for="password">Password</label>
            </div>
            <input type="password" class="form-control" name="password" ng-model="userPass" placeholder="Password" required/>
            <span style="color:red" ng-show="isPwdEmpty">
                  <span ng-show="loginForm.password.$error.required">Password is required.</span>
            </span>
        </div>
        <div ng-show="isDisplay" ng-class="{'text-danger' : isDisplay, 'text-info':!isDisplay}" ng-bind="errormsg"></div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="authenticateUser()">Login</button>
		</div>
    </form>
</div>